<section class="section transactions-full">
    <div class="section-controls">

        <div class="flex justify-between gap-24 items-center">
            <label class="search">
                <input type="text" class="search-input text-caption" placeholder="Search transaction"
                    aria-label="Search transaction" />
                <svg class="search-icon">
                    <use href="/public/icons.svg#icon-search"></use>
                </svg>
            </label>

            <!-- MOBILE ICON BUTTONS -->
             <div class="button-control-wrapper">
<button class="icon-btn mobile-only" aria-label="Sort transactions">
    <svg class="control-icon">
        <use href="/public/icons.svg#icon-sort-mobile"></use>
    </svg>
</button>

<button class="icon-btn mobile-only" aria-label="Filter by category">
    <svg class="control-icon">
        <use href="/public/icons.svg#icon-filter-mobile"></use>
    </svg>
</button>
             </div>
            

            <div class="filters-wrapper">
                <div class="flex items-center gap-24">
                    <label class="filter-group">
                        <span class="text-caption">Sort by:</span>
                        <select class="filter-select" name="sort">
                            <option value="date-desc">Latest</option>
                            <option value="date-asc">Oldest</option>
                            <option value="name-asc">A → Z</option>
                            <option value="name-desc">Z → A</option>
                            <option value="amount-desc">Highest</option>
                            <option value="amount-asc">Lowest</option>
                        </select>
                    </label>
                
                    <label class="filter-group">
                        <span class="text-caption">Category:</span>
                        <select class="filter-select caption" name="category">
                            <option value="all-transactions">All Transactions</option>
                            <option value="entertainment">Entertainment</option>
                            <option value="bills">Bills</option>
                            <option value="groceries">Groceries</option>
                            <option value="dining-out">Dining Out</option>
                            <option value="transportation">Transportation</option>
                            <option value="personal-care">Personal Care</option>
                        </select>
                    </label>
                </div>
            </div>
            
        </div>
    </div>


    <ul class="table list-divider list-divider--md">
        <li class="table-head transactions-table-head text-label">
            <span>Recipient / Sender</span>
            <span>Category</span>
            <span>Transaction Date</span>
            <span>Amount</span>
        </li>

        <li class="table-row transactions-row">
            <span class="transaction-avatar-group text-value">
                <img class="transaction-avatar" src="/public/image/emma-richardson.jpg" alt="Emma Richardson" width="40"
                    height="40" />Emma Richardson</span>
            <span class="text-label">General</span>
            <time class="text-label">19 Aug 2024</time>
            <span class="text-value text-green">+$75.50</span>
        </li>

        <li class="table-row transactions-row">
            <span class="transaction-avatar-group text-value">
                <img class="transaction-avatar" src="/public/image/savory-bites-bistro.jpg" alt="Savory Bites Bistro Logo" width="40"
                    height="40" />Savory Bites Bistro</span>
            <span class="text-label">Dining Out</span>
            <time class="text-label">19 Aug 2024</time>
            <span class="text-value">-$55.50</span>
        </li>

        <li class="table-row transactions-row">
            <span class="transaction-avatar-group text-value">
                <img class="transaction-avatar" src="/public/image/daniel-carter.jpg" alt="Daniel Carter" width="40" height="40" />Daniel Carter</span>
            <span class="text-label">General</span>
            <time class="text-label">18 Aug 2024</time>
            <span class="text-value">- $42.30</span>
        </li>

        <li class="table-row transactions-row">
            <span class="transaction-avatar-group text-value">
                <img class="transaction-avatar" src="/public/image/sun-park.jpg" alt="Sun Park" width="40"
                    height="40" />Sun Park</span>
            <span class="text-label">General</span>
            <time class="text-label">17 Aug 2024</time>
            <span class="text-value text-green">+ $120.00</span>
        </li>

        <li class="table-row transactions-row">
            <span class="transaction-avatar-group text-value">
                <img class="transaction-avatar" src="/public/image/urban-services-hub.jpg" alt="Urban Services Hub Logo" width="40" height="40" />Urban Services Hub</span>
            <span class="text-label">General</span>
            <time class="text-label">17 Aug 2024</time>
            <span class="text-value">-$65.00</span>
        </li>

        <li class="table-row transactions-row">
            <span class="transaction-avatar-group text-value">
                <img class="transaction-avatar" src="/public/image/liam-hughes.jpg" alt="Liam Hughes" width="40"
                    height="40" />Liam Hughes</span>
            <span class="text-label">Groceries</span>
            <time class="text-label">15 Aug 2024</time>
            <span class="text-value text-green">+$65.75</span>
        </li>

        <li class="table-row transactions-row">
            <span class="transaction-avatar-group text-value">
                <img class="transaction-avatar" src="/public/image/lily-ramirez.jpg" alt="Lily Ramirez" width="40" height="40" />Lily Ramirez</span>
            <span class="text-label">General</span>
            <time class="text-label">14 Aug 2024</time>
            <span class="text-value text-green">+$50.00</span>
        </li>

        <li class="table-row transactions-row">
            <span class="transaction-avatar-group text-value">
                <img class="transaction-avatar" src="/public/image/ethan-clark.jpg" alt="Ethan Clark" width="40" height="40" />Ethan Clark</span>
            <span class="text-label">Dining Out</span>
            <time class="text-label">13 Aug 2024</time>
            <span class="text-value">-$32.50</span>
        </li>

        <li class="table-row transactions-row">
            <span class="transaction-avatar-group text-value">
                <img class="transaction-avatar" src="/public/image/james-thompson.jpg" alt="James Thompson" width="40" height="40" />James Thompson</span>
            <span class="text-label">Entertainment</span>
            <time class="text-label">11 Aug 2024</time>
            <span class="text-value">-$5.00</span>
        </li>

        <li class="table-row transactions-row">
            <span class="transaction-avatar-group text-value">
                <img class="transaction-avatar" src="/public/image/pixel-playground.jpg" alt="Pixel Playground Logo" width="40"
                    height="40" />Pixel Playground</span>
            <span class="text-label">Entertainment</span>
            <time class="text-label">11 Aug 2024</time>
            <span class="text-value">-$10.00</span>
        </li>
        
    </ul>

    <div class="pagination">
        <button class="pagination-btn">
            <svg class="pagination-icon">
            <use href="/public/icons.svg#icon-caret-left"></use>
            </svg>
            Prev
        </button>
    
        <div class="pagination-pages">
            <button class="pagination-page">1</button>
            <button class="pagination-page active">2</button>
            <button class="pagination-page">3</button>
            <button class="pagination-page">4</button>
            <button class="pagination-page">5</button>
        </div>
    
        <button class="pagination-btn">
            Next
            <svg class="pagination-icon">
                <use href="/public/icons.svg#icon-caret-right"></use>
            </svg>
        </button>
    </div>

</section>