<section class="section transactions-full">
    <div class="transactions-header">

        <div class="transactions-controls">
            <label class="transactions-search">
                <input type="text" class="transactions-input" placeholder="Search transaction"
                    aria-label="Search transaction" />
                <svg class="search-icon">
                    <use href="/public/icons.svg#icon-search"></use>
                </svg>
            </label>

            <div class="transactions-filters">
                <label class="filter-group">
                    <span class="filter-label">Sort by:</span>
                    <select class="filter-select" name="sort">
                        <option value="date-desc">Latest</option>
                        <option value="date-asc">Oldest</option>
                        <option value="name-asc">A → Z</option>
                        <option value="name-desc">Z → A</option>
                        <option value="amount-desc">Highest</option>
                        <option value="amount-asc">Lowest</option>
                    </select>
                </label>

                <label class="filter-group">
                    <span class="filter-label">Category:</span>
                    <select class="filter-select" name="category">
                        <option value="all-transactions">All Transactions</option>
                        <option value="entertainment">Entertainment</option>
                        <option value="bills">Bills</option>
                        <option value="groceries">Groceries</option>
                        <option value="dining-out">Dining Out</option>
                        <option value="transportation">Transportation</option>
                        <option value="personal-care">Personal Care</option>
                    </select>
                </label>
            </div>
        </div>
    </div>

    <ul class="transactions-table">
        <li class="transactions-table-head">
            <span>Recipient / Sender</span>
            <span>Category</span>
            <span>Transaction Date</span>
            <span>Amount</span>
        </li>

        <li class="transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/emma-richardson.jpg" alt="Emma Richardson" width="40"
                    height="40" />Emma Richardson</span>
            <span class="category">General</span>
            <span class="date">19 Aug 2024</span>
            <span class="amount positive">+$75.50</span>
        </li>

        <li class="transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/savory-bites-bistro.jpg" alt="Savory Bites Bistro Logo" width="40"
                    height="40" />Savory Bites Bistro</span>
            <span class="category">Dining Out</span>
            <span class="date">19 Aug 2024</span>
            <span class="amount">-$55.50</span>
        </li>

        <li class="transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/daniel-carter.jpg" alt="Daniel Carter" width="40" height="40" />Daniel Carter</span>
            <span class="category">General</span>
            <span class="date">18 Aug 2024</span>
            <span class="amount">- $42.30</span>
        </li>

        <li class="transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/sun-park.jpg" alt="Sun Park" width="40"
                    height="40" />Sun Park</span>
            <span class="category">General</span>
            <span class="date">17 Aug 2024</span>
            <span class="amount positive">+ $120.00</span>
        </li>

        <li class="transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/urban-services-hub.jpg" alt="Urban Services Hub Logo" width="40" height="40" />Urban Services Hub</span>
            <span class="category">General</span>
            <span class="date">17 Aug 2024</span>
            <span class="amount">-$65.00</span>
        </li>

        <li class="transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/liam-hughes.jpg" alt="Liam Hughes" width="40"
                    height="40" />Liam Hughes</span>
            <span class="category">Groceries</span>
            <span class="date">15 Aug 2024</span>
            <span class="amount positive">+$65.75</span>
        </li>

        <li class="transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/lily-ramirez.jpg" alt="Lily Ramirez" width="40" height="40" />Lily Ramirez</span>
            <span class="category">General</span>
            <span class="date">14 Aug 2024</span>
            <span class="amount positive">+$50.00</span>
        </li>

        <li class="transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/ethan-clark.jpg" alt="Ethan Clark" width="40" height="40" />Ethan Clark</span>
            <span class="category">Dining Out</span>
            <span class="date">13 Aug 2024</span>
            <span class="amount">-$32.50</span>
        </li>

        <li class="transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/james-thompson.jpg" alt="James Thompson" width="40" height="40" />James Thompson</span>
            <span class="category">Entertainment</span>
            <span class="date">11 Aug 2024</span>
            <span class="amount">-$5.00</span>
        </li>

        <li class="transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/pixel-playground.jpg" alt="Pixel Playground Logo" width="40"
                    height="40" />Pixel Playground</span>
            <span class="category">Entertainment</span>
            <span class="date">11 Aug 2024</span>
            <span class="amount">-$10.00</span>
        </li>
        
    </ul>

    <div class="pagination">
        <button class="pagination-btn prev">
            <svg class="pagination-icon">
            <use href="/public/icons.svg#icon-caret-left"></use>
            </svg>
            Prev
        </button>
    
        <div class="pagination-pages">
            <button class="pagination-page">1</button>
            <button class="pagination-page active">2</button>
            <button class="pagination-page">3</button>
            <button class="pagination-page">4</button>
            <button class="pagination-page">5</button>
        </div>
    
        <button class="pagination-btn next">
            Next
            <svg class="pagination-icon">
                <use href="/public/icons.svg#icon-caret-right"></use>
            </svg>
        </button>
    </div>

</section>