<section>
    <ul>
        <li class="section">
            <div class="budget-header">
                <span class="accent-circle color-green"></span>
                <h3 class="heading">Savings</h3>
            </div>

            <div class="total-saved-amount-wrap">
                <p class="caption">Total Saved</p>
                <p class="display">$159.00</p>
            </div>
               
               
                <div class="pot-progress">
                    <div class="pot-progress-bar color-green"></div>
                </div>
                <div class="percent-target-wrap">
                    <p class="label-bold">7.95%</p>
                    <p class="label">Target of $2,000</p>
                </div>

<button>+ Add Money</button>
<button>Withdraw</button>
        </li>

        <li class="section">
            <div class="budget-header">
                <span class="accent-circle color-green"></span>
                <h3 class="heading">Concert Ticket</h3>
            </div>
        
            <div class="total-saved-amount-wrap">
                <p class="caption">Total Saved</p>
            <p class="display">$110.00</p></div>
            
        
            <div class="pot-progress">
                <div class="pot-progress-bar color-green"></div>
            </div>
            
<div class="percent-target-wrap">
    <p class="label-bold">73.3%</p>
    <p class="label">Target of $150</p>
</div>
           
            <button>+ Add Money</button>
            <button>Withdraw</button>
        </li>

        <li class="section">
            <div class="budget-header">
                <span class="accent-circle color-green"></span>
                <h3 class="heading">Gift</h3>
            </div>
        
            <div class="total-saved-amount-wrap">
                <p class="caption">Total Saved</p>
                <p class="display">$40.00</p>
            </div>
          
        
            <div class="pot-progress">
                <div class="pot-progress-bar color-green"></div>
            </div>
            <div class="percent-target-wrap">
                <p class="label-bold">66.6%</p>
                <p class="label">Target of $60</p>
            </div>
           
            <button>+ Add Money</button>
            <button>Withdraw</button>
        </li>

        <li class="section">
            <div class="budget-header">
                <span class="accent-circle color-green"></span>
                <h3 class="heading">New Laptop</h3>
            </div>
        
            <div class="total-saved-amount-wrap">
                <p class="caption">Total Saved</p>
                <p class="display">$10.00</p>
            </div>
          
        
            <div class="pot-progress">
                <div class="pot-progress-bar color-green"></div>
            </div>
            <div class="percent-target-wrap">
                <p class="label-bold">1.0%</p>
                <p class="label">Target of $1,000</p>
            </div>
            
            <button>+ Add Money</button>
            <button>Withdraw</button>
        </li>

        <li class="section">
            <div class="budget-header">
                <span class="accent-circle color-green"></span>
                <h3 class="heading">Holiday</h3>
            </div>
        
            <div class="total-saved-amount-wrap">
                <p class="caption">Total Saved</p>
                <p class="display">$531.00</p>
            </div>
            
        
            <div class="pot-progress">
                <div class="pot-progress-bar color-green"></div>
            </div>
            <div class="percent-target-wrap">
                <p class="label-bold">36.8%</p>
                <p class="label">Target of $1440</p>
            </div>
          
            <button>+ Add Money</button>
            <button>Withdraw</button>
        </li>
    </ul>
</section>