<section class="section">
    <div class="section-controls">

        <div class="rec-bills-transactions-controls">
            <label class="search">
                <input type="text" class="search-input text-caption" placeholder="Search bills"
                    aria-label="Search bills" />
                <svg class="search-icon">
                    <use href="/public/icons.svg#icon-search"></use>
                </svg>
            </label>

        
                <label class="filter-group">
                    <span class="text-caption">Sort by:</span>
                    <select class="filter-select text-caption" name="sort">
                        <option value="date-desc">Latest</option>
                        <option value="date-asc">Oldest</option>
                        <option value="name-asc">A → Z</option>
                        <option value="name-desc">Z → A</option>
                        <option value="amount-desc">Highest</option>
                        <option value="amount-asc">Lowest</option>
                    </select>
                </label>

               
            
        </div>
    </div>

    <ul class="rec-bills-transactions-table">
        <li class="table-head rec-bills-transactions-table-head">
            <span class="text-label">Bill Title</span>
            <span class="text-label">Due Date</span>
            <span class="text-label">Amount</span>
        </li>

        <li class="table-row rec-bills-transactions-row">
            <span class="text-value transaction-avatar-group">
                <img class="transaction-avatar" src="/public/image/spark-electric-solutions.jpg" alt="Spark Electric Solutions" width="32"
                    height="32" />Spark Electric Solutions</span>
            <span class="date-icon-wrap text-label text-green">Monthly-2nd
                    <svg class="icon-status-payment icon-bill-paid">
                        <use href="../../../public/icons.svg#icon-bill-paid"></use>
                    </svg>
            </span>
            <span class="text-value">$100.00</span>
        </li>


        <li class="table-row rec-bills-transactions-row">
            <span class="text-value transaction-avatar-group">
                <img class="transaction-avatar" src="/public/image/serenity-spa-and-wellness.jpg" alt="Serenity Spa & Wellness"
                    width="32" height="32" />Serenity Spa & Wellness</span>
            <span class="date-icon-wrap text-label text-green">Monthly-3rd
                <svg class="icon-status-payment icon-bill-paid">
                    <use href="../../../public/icons.svg#icon-bill-paid"></use>
                </svg>
            </span>
            <span class="text-value">$30.00</span>
        </li>

        <li class="table-row rec-bills-transactions-row">
            <span class="text-value transaction-avatar-group">
                <img class="transaction-avatar" src="/public/image/elevate-education.jpg" alt="Elevate Education"
                    width="32" height="32" />Elevate Education</span>
            <span class="date-icon-wrap text-label text-green">Monthly-4th
                <svg class="icon-status-payment icon-bill-paid">
                    <use href="../../../public/icons.svg#icon-bill-paid"></use>
                </svg>
            </span>
            <span class="text-value">$50.00</span>
        </li>

<li class="table-row rec-bills-transactions-row">
    <span class="text-value transaction-avatar-group">
        <img class="transaction-avatar" src="/public/image/pixel-playground.jpg" alt="Pixel Playground" width="32"
            height="32" />Pixel Playground</span>
    <span class="date-icon-wrap text-label text-green">Monthly-11th
        <svg class="icon-status-payment icon-bill-paid">
            <use href="../../../public/icons.svg#icon-bill-paid"></use>
        </svg>
    </span>
    <span class="text-value">$10.00</span>
</li>

        <li class="table-row rec-bills-transactions-row">
            <span class="text-value transaction-avatar-group">
                <img class="transaction-avatar" src="/public/image/nimbus-data-storage.jpg" alt="Nimbus Data Storage"
                    width="32" height="32" />Nimbus Data Storage</span>
            <span class="date-icon-wrap text-label">Monthly-21st
                <svg class="icon-status-payment icon-bill-due">
                    <use href="../../../public/icons.svg#icon-bill-due"></use>
                </svg>
            </span>
            <span class="text-value">$9.99</span>
        </li>

        <li class="table-row rec-bills-transactions-row">
            <span class="text-value transaction-avatar-group">
                <img class="transaction-avatar" src="/public/image/bytewise.jpg" alt="ByteWise" width="32"
                    height="32" />ByteWise</span>
            <span class="date-icon-wrap text-label">Monthly-23rd
                <svg class="icon-status-payment icon-bill-due">
                    <use href="../../../public/icons.svg#icon-bill-due"></use>
                </svg>
            </span>
            <span class="text-value">$49.99</span>
        </li>

        <li class="table-row rec-bills-transactions-row">
            <span class="text-value transaction-avatar-group">
                <img class="transaction-avatar" src="/public/image/ecofuel-energy.jpg" alt="EcoFuel Energy" width="32"
                    height="32" />EcoFuel Energy</span>
            <span class="date-icon-wrap text-label">Monthly-29th
            </span>
            <span class="text-value">$35.00</span>
        </li>

<li class="table-row rec-bills-transactions-row">
    <span class="text-value transaction-avatar-group">
        <img class="transaction-avatar" src="/public/image/aqua-flow-utilities.jpg" alt="Aqua Flow Utilities" width="32"
            height="32" />Aqua Flow Utilities</span>
    <span class="date-icon-wrap text-label">Monthly-30th
    </span>
    <span class="text-value">$100.00</span>
</li>

    </ul>


</section>