<section class="rec-bills-sum-section">
    <h3 class="text-heading-md title-card">Summary</h3>
    <ul class="list-divider list-divider--md">
        <li class="flex-between">
            <p class="text-label">Paid Bills</p>
            <p class="text-label-bold">4 ($190.00)</p>
        </li>

        <li class="flex-between">
            <p class="text-label">Total Upcoming</p>
            <p class="text-label-bold">4 ($194.98)</p>
        </li>

        <li class="flex-between">
            <p class="text-label text-red">Due Soon</p>
            <p class="text-label-bold text-red">2 ($59.98)</p>
        </li>
    </ul>
</section>