<section class="section rec-bills-list-section">
    <div class="rec-bills-transactions-header">

        <div class="rec-bills-transactions-controls">
            <label class="rec-bills-transactions-search">
                <input type="text" class="rec-bills-transactions-input caption" placeholder="Search bills"
                    aria-label="Search bills" />
                <svg class="rec-bills-search-icon">
                    <use href="/public/icons.svg#icon-search"></use>
                </svg>
            </label>

        
                <label class="rec-bills-filter-group">
                    <span class="caption">Sort by:</span>
                    <select class="rec-bills-filter-select caption" name="sort">
                        <option value="date-desc">Latest</option>
                        <option value="date-asc">Oldest</option>
                        <option value="name-asc">A → Z</option>
                        <option value="name-desc">Z → A</option>
                        <option value="amount-desc">Highest</option>
                        <option value="amount-asc">Lowest</option>
                    </select>
                </label>

               
            
        </div>
    </div>

    <ul class="rec-bills-transactions-table">
        <li class="rec-bills-transactions-table-head">
            <span>Bill Title</span>
            <span>Due Date</span>
            <span>Amount</span>
        </li>

        <li class="rec-bills-transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/spark-electric-solutions.jpg" alt="Spark Electric Solutions" width="40"
                    height="40" />Spark Electric Solutions</span>
            <span class="date">Monthly -2nd
                <span class="due-status due-status--warning">
                    <svg class="icon-status-payment">
                        <use href="../../../public/icons.svg#icon-bill-due"></use>
                    </svg>
                </span>
            </span>
            <span class="amount">$100.00</span>
        </li>

        <li class="rec-bills-transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/savory-bites-bistro.jpg" alt="Savory Bites Bistro Logo"
                    width="40" height="40" />Savory Bites Bistro</span>
            <span class="date">19 Aug 2024</span>
            <span class="amount">-$55.50</span>
        </li>

        <li class="rec-bills-transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/daniel-carter.jpg" alt="Daniel Carter" width="40"
                    height="40" />Daniel Carter</span>
            <span class="date">18 Aug 2024</span>
            <span class="amount">- $42.30</span>
        </li>

        <li class="rec-bills-transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/sun-park.jpg" alt="Sun Park" width="40" height="40" />Sun
                Park</span>
            <span class="date">17 Aug 2024</span>
            <span class="amount positive">+ $120.00</span>
        </li>

        <li class="rec-bills-transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/urban-services-hub.jpg" alt="Urban Services Hub Logo"
                    width="40" height="40" />Urban Services Hub</span>
            <span class="date">17 Aug 2024</span>
            <span class="amount">-$65.00</span>
        </li>

        <li class="rec-bills-transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/liam-hughes.jpg" alt="Liam Hughes" width="40"
                    height="40" />Liam Hughes</span>
            <span class="date">15 Aug 2024</span>
            <span class="amount positive">+$65.75</span>
        </li>

        <li class="rec-bills-transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/lily-ramirez.jpg" alt="Lily Ramirez" width="40"
                    height="40" />Lily Ramirez</span>
            <span class="date">14 Aug 2024</span>
            <span class="amount positive">+$50.00</span>
        </li>

        <li class="rec-bills-transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/ethan-clark.jpg" alt="Ethan Clark" width="40"
                    height="40" />Ethan Clark</span>
            <span class="date">13 Aug 2024</span>
            <span class="amount">-$32.50</span>
        </li>

        <li class="rec-bills-transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/james-thompson.jpg" alt="James Thompson" width="40"
                    height="40" />James Thompson</span>
            <span class="date">11 Aug 2024</span>
            <span class="amount">-$5.00</span>
        </li>

        <li class="rec-bills-transactions-row">
            <span class="recipient">
                <img class="recipient-img" src="/public/image/pixel-playground.jpg" alt="Pixel Playground Logo"
                    width="40" height="40" />Pixel Playground</span>
            <span class="date">11 Aug 2024</span>
            <span class="amount">-$10.00</span>
        </li>

    </ul>


</section>