<section class="rec-bills-sum-section">
    <h3 class="heading-md title-card">Summary</h3>
    <ul>
        <li class="rec-bills-sum-item">
            <p class="label">Paid Bills</p>
            <p class="label-bold">4 ($190.00)</p>
        </li>

        <li class="rec-bills-sum-item">
            <p class="label">Total Upcoming</p>
            <p class="label-bold">4 ($194.98)</p>
        </li>

        <li class="rec-bills-sum-item">
            <p class="label color-text-red">Due Soon</p>
            <p class="label-bold color-text-red">2 ($59.98)</p>
        </li>
    </ul>
</section>