.recurring-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    align-items: start;
}

.recurring-col-left{
    display: grid;
    gap: 24px;
}

@media screen and (min-width:768px) and (max-width:1439px) {
    .recurring-col-left {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (min-width: 1440px){
.recurring-grid {
        grid-template-columns: 337px 1fr;
    }
}