.rec-bills-list-section{
    max-width: 699px;
}


.rec-bills-transactions-controls{
    display: flex;
        justify-content: space-between;
}


.rec-bills-transactions-table-head,
.rec-bills-transactions-row {
    grid-template-columns: 3.19fr 1.2fr 1fr;
    
}

.date-icon-wrap{
    display: inline-flex;
        align-items: center;
        gap: 8px;
}



.icon-status-payment{
    height: 13px;
    width: 13px;
    flex-shrink: 0;
}

.icon-bill-paid{
    fill: var(--color-green);
}

.icon-bill-due{
    fill: var(--color-red);
}

.rec-recipient {
    display: flex;
    align-items: center;
    gap: 16px;
}

.rec-recipient-img {
    border-radius: 100%;
}