.rec-bills-section{
    height: 100%;
}

.icon-rec-bills{
    fill: var(--color-white);
    width: 40px;
    height: 40px;
  
}

@media screen and (max-width: 767px) {
.rec-bills-section {
    display: flex;
    gap: 20px;
    align-items: center;
}
}

@media screen and (min-width: 768px) {
.icon-rec-bills {
        margin-bottom: 32px;
    }
}


