.rec-bills-sum-section{
border-radius: 12px;
    padding: 20px;
    max-width: 337px;
background: var(--color-white);
}

.title-card{
    margin-bottom: 20px;
}

.rec-bills-sum-item{
    display: flex;
    justify-content: space-between;
}

.rec-bills-sum-item:not(:last-child){
    border-bottom: 1px solid var(--color-grey-100);
    padding-bottom: 16px;
}

.rec-bills-sum-item:not(:first-child) {
   
    padding-top: 16px;
}
