.rec-bills-section{
    max-width: 337px;
}

.icon-rec-bills{
    fill: var(--color-white);
    width: 40px;
    height: 40px;
    margin-bottom: 32px;
}


.rec-bills-content{
    /* display: flex;
    flex-direction: column; */
    gap: 12px;
}