.filter-group {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Стрілка як псевдоелемент */
.filter-group::after {
    content: '';
    position: absolute;
    right: 22px;
    width: 11px;
    height: 6px;
    background: url('/public/icon-caret-down.svg') no-repeat center /contain;
    pointer-events: none;
}

.filter-select {
    border: 1px solid var(--color-beige-500);
    border-radius: 8px;
    padding: 12px 52px 12px 20px;
    appearance: none;
    color: var(--color-grey-900);

/* Перевірити чи ця частина коду працює ПОЧАТОК */

    /* прибирає системну стрілку (Chrome, Safari, Edge) */
        -moz-appearance: none;
        /* для Firefox */
        -webkit-appearance: none;
        /* для старих Safari */

        /* Перевірити чи ця частина коду працює КІНЕЦЬ*/
}