.table {
    margin-bottom: 24px;
}

.table-head,
.table-row {
    display: grid;
    column-gap: 32px;
    border-bottom: 1px solid var(--color-grey-100);
}

.table-head {
    padding: 12px 16px;
}

.table-row {
    padding: 16px;
    align-items: center;
}

/* вирівнюємо останній елемент у гріді вправо */
.table-head>*:last-child,
.table-row>*:last-child {
    text-align: right;
}

.table-row:last-child {
    border-bottom: none;
    padding-bottom: 0;
}