.table {
    width: 100%;
    margin-bottom: 24px;
}

.table-head,
.table-row {
    display: grid;
    column-gap: 32px;
    
}

.list-divider .table-head {
    padding-block: 12px; /*  верх+низ */
    padding-inline: 16px; /* ліво+право */
}

.table-row {
    padding-inline: 16px;
    align-items: center;
}

/* вирівнюємо останній елемент у гріді вправо */
.table-head>*:last-child,
.table-row>*:last-child {
    text-align: right;
}

