.transaction-avatar-group {
    display: flex;
    align-items: center;
    gap: 16px;
}

.transaction-avatar {
    border-radius: 50%;
    flex-shrink: 0;
}

.transaction-meta {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
}