/*===== MOBILE STYLES ======*/

.transaction-avatar-group {
    display: flex;
    align-items: center;
    gap: 12px;
}
/*===== MOBILE STYLES end======*/

@media screen and (min-width: 768px){
.transaction-avatar-group {
        
        gap: 16px;
    }
}


.transaction-avatar {
    border-radius: 50%;
    flex-shrink: 0;
}

.avatar--sm {
    width: 32px;
    height: 32px;
}

.avatar--md {
    width: 40px;
    height: 40px;
}

.transaction-meta {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
}