.transactions{
    max-width: 608px;
}

.transaction-title{
    margin-bottom: 32px;
}

/* .transaction-item{
    display: flex;
    justify-content: space-between;
    
} */

/* .transaction-item:not(:first-child) {
    padding-top: 20px;
} */

/* .transaction-item:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-grey-100);
} */

.transactions-list>.flex-between:not(:first-child) {
    padding-top: 20px;
}
.transactions-list>.flex-between:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-grey-100);
}







