/* .recurring-bills{
    max-width: 428px;
} */



.recurring-bills-list-item{
        border-radius: 8px;
        padding: 20px 16px;
        background: var(--color-beige-100);
}

.recurring-bills-list-item:not(:last-child){
    margin-bottom: 12px;
}

.recurring-bills-list-item:first-child{
border-left: 4px solid var(--color-green);
}

.recurring-bills-list-item:nth-child(2) {
border-left: 4px solid var(--color-yellow);
}

.recurring-bills-list-item:last-child{
    border-left: 4px solid var(--color-cyan);
}

