/* .pots-overview{
    max-width: 608px;
} */

.total-saved-wrap{
    background-color: var(--color-beige-100);
    border-radius: 12px;
padding: 20px 16px;
width: 247px;
}

.pots-icon{
    fill: var(--color-green);
    width: 28px;
    height: 36px;
}


.pots-list{

    display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}







