/* .balance-summary{
    max-width: 1060px;
} */

.balance-summary-list{
    /* max-width: 1060px; */
    /* display: flex; */
/* align-items: flex-start;
justify-content: flex-start; */
/* flex-direction: row; */
gap: 24px;
}


.balance-summary-list-item{

    width: calc((100% - 2 * 24px) / 3);
    /* display: flex; */
/* align-items: flex-start;
justify-content: flex-start; */
/* flex-direction: column; */
gap: 12px;

/* border-radius: 12px;
padding: 24px; */
/* background: var(--color-white); */
}

