.balance-summary-list{
display: grid;
grid-template-columns: 1fr;
gap: 12px;
}

@media screen and (min-width:768px) {
    .balance-summary-list{
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
}