.transactions-full{
max-width: 1440px;
}

/* .transactions-controls {
    display: flex;
    justify-content: space-between;
} */


.transactions-filters {
    /* display: flex;
    align-items: center; */
    gap: 24px;
}



.transactions-table-head,
.transactions-row {
   
    grid-template-columns: 4.28fr 1.2fr 1.2fr 2fr;
}



.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
}

.pagination-btn {

    border: 1px solid var(--color-beige-500);
        border-radius: 8px;
        padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
background: var(--color-white);
font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--color-grey-900);

}

.pagination-icon {
    width: 16px;
    height: 16px;
    fill: var(--color-grey-500);
}

.pagination-pages {
    display: flex;
    gap: 8px;
}

.pagination-page {
    width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
border: 1px solid var(--color-beige-500);
    border-radius: 8px;
    padding: 16px;
    background-color: var(--color-white);

    font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: var(--color-grey-900);
    cursor: pointer;
    
}

.pagination-page:hover {
    background-color: var(--color-grey-900);
    color: var(--color-white);
}

.pagination-page:active {
    background-color: var(--color-grey-900);
color: var(--color-white);
}

