/* =====MOBILE STYLES===== */

.button-control-wrapper {
      display: flex;
      gap: 24px;
  }

.transactions-row {
    display: grid;
grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    row-gap: 4px;
align-items: center;
}

.transaction-img {
    grid-column: 1;
    grid-row: 1 / 3;
    margin-right: 12px;
}

.transaction-name {
    grid-column: 2;
    grid-row: 1;
}

.transaction-category {
    grid-column: 2;
    grid-row: 2;
}

.transaction-amount {
    grid-column: 3;
    grid-row: 1;
}

.transaction-date {
    grid-column: 3;
    grid-row: 2;
}

@media screen and (max-width: 767px) {
    .filters-wrapper {
        display: none;
    }

    .transactions-table-head {
        display: none;
    }

      
}

/* =====MOBILE STYLES end===== */


@media screen and (min-width: 768px) {
.transaction-search {
        max-width: 162px;
        padding: 12px 48px 12px 20px;
        text-overflow: ellipsis;
    }

    .button-control-wrapper {
            display: none;
        }

    .transactions-table-head {
    grid-template-columns: 4.28fr 1.2fr 1.2fr 2fr;
    }

 .transactions-row {
     grid-template-columns: 4.28fr 1.2fr auto 2fr;
                grid-template-rows: auto;
    
                align-items: center;
            }
                        /* reset mobile rows */
            
                        .transaction-img,
                        .transaction-name,
                        .transaction-category,
                        .transaction-date,
                        .transaction-amount {
                            grid-row: auto;
                        }
    
            .transaction-img {
                grid-column: 1;
                grid-row: 1;
width: 40px;
height: 40px;
/* margin-right: 16px; */
            }
    
            .transaction-name {
                grid-column: 1;
                grid-row: 1;
                margin-left: 56px;
            }
    
            .transaction-amount {
                grid-column: 4;
            }
    
        }

        @media screen and (min-width: 1440px){
.transaction-search {
        max-width: 320px;
    }

.transactions-row {
   
    grid-template-columns: 4.28fr 1.2fr 1.2fr 2fr;
}
}
