.grid-pots{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
    gap: 24px;
}


.pot-progress {
    border-radius: 4px;
    background: var(--color-beige-100);
    width: 100%;
    height: 8px;
    margin-bottom: 13px;
    position: relative;
}

.pot-progress-bar {
    border-radius: 4px;
    width: 162px;
    height: 8px;
    position: relative;
}


