<section class="section expenses">
   
<div class="flex-col">
    <div class="expenses-chart-thumb">
        <div class="expenses-chart">
            <div class="expenses-center">
                <p class="text-display">$338</p>
                <p class="text-label">of $975 limit</p>
            </div>
        </div>
    </div>
       

    <h2 class="text-heading-lg mb-24">Spending Summary</h2>




     <ul class="expenses-list list-divider list-divider--md ">
<li class="expenses-item">
    <span class="marker-strip marker-green"></span>

    <div class="expenses-details">
<p class="text-caption">Entertainment</p>
<p class="expenses-summary">
    <span class="text-heading-md">$15.00</span>
    <span class="text-label">of $50.00</span>
</p>
    </div>
                   
            </li>


            <li class="expenses-item">
                <span class="marker-strip marker-blue"></span>
<div class="expenses-details">
<p class="text-caption">Bills</p>
<p class="expenses-summary">
    <span class="text-heading-md">$50.00</span>
    <span class="text-label">of $750.00</span>
</p>
</div>
                    
               
            </li>

            <li class="expenses-item">
                <span class="marker-strip marker-yellow"></span>
<div class="expenses-details">
<p class="text-caption">Dining Out</p>
<p class="expenses-summary">
    <span class="text-heading-md">$133.00</span>
    <span class="text-label">of $75.00</span>
</p>
</div>
                    
               
            </li>
            <li class="expenses-item">
            <span class="marker-strip marker-navy"></span>
            <div class="expenses-details">
<p class="text-caption">Personal Care</p>
<p class="expenses-summary">
    <span class="text-heading-md">$40.00</span>
    <span class="text-label">of $100.00</span>
</p>
            </div>
                 
            </li>
        </ul>
    </div>


</section>