<section class="section expenses">
   
<div class="flex-col">
    <div class="expenses-chart-thumb">
        <div class="expenses-chart-doub">
            <div class="expenses-center">
                <p class="text-display">$338</p>
                <p class="text-label">of $975 limit</p>
            </div>
        </div>
    </div>
       

<div class="section-title-link-wrap-doub">
    <h2 class="text-heading-lg">Spending Summary</h2>
</div>



        <ul>
<li class="expenses-list-item-doub marker-green flex-between">
                    <p class="text-caption expenses-list-label-doub">Entertainment</p>
                    <p class="expenses-summary">
                        <span class="text-heading-md">$15.00</span>
                        <span class="text-label">of $50.00</span>
                    </p>
            </li>


            <li class="expenses-list-item-doub marker-blue flex-between">
                
                    <p class="text-caption expenses-list-label-doub">Bills</p>
                    <p class="expenses-summary">
                        <span class="text-heading-md">$50.00</span>
                        <span class="text-label">of $750.00</span>
                    </p>
               
            </li>

            <li class="expenses-list-item-doub marker-yellow flex-between">
                
                    <p class="text-caption expenses-list-label-doub">Dining Out</p>
                    <p class="expenses-summary">
                        <span class="text-heading-md">$133.00</span>
                        <span class="text-label">of $75.00</span>
                    </p>
               
            </li>
            <li class="expenses-list-item-doub marker-navy flex-between">
               
                    <p class="text-caption expenses-list-label-doub">Personal Care</p>
                <p class="expenses-summary">
                    <span class="text-heading-md">$40.00</span>
                    <span class="text-label">of $100.00</span>
                </p>
            </li>
        </ul>
    </div>


</section>