<section class="section expenses">
   
<div class="expenses-chart-list-wrap-doub">
        <div class="expenses-chart-doub">
            <div class="expenses-center">
                <p class="text-display">$338</p>
                <p class="text-label">of $975 limit</p>
            </div>
        </div>

<div class="section-title-link-wrap-doub">
    <h2 class="text-heading-lg">Spending Summary</h2>
</div>

        <ul class="expenses-list">
            <li class="expenses-list-item-doub"><span class="color color-doub color-green"></span>
                <div  class="expenses-details">
                    <p class="text-caption expenses-list-label-doub">Entertainment</p>
                    <p class="expenses-summary">
                        <span class="text-heading-md">$15.00</span>
                        <span class="text-label">of $50.00</span>
                    </p>
                </div>

            </li>
            <li class="expenses-list-item expenses-list-item-doub"><span class="color color-doub color-blue"></span>
                <div  class="expenses-details">
                    <p class="text-caption expenses-list-label-doub">Bills</p>
                    <p class="expenses-summary">
                        <span class="text-heading-md">$50.00</span>
                        <span class="text-label">of $750.00</span>
                    </p>
                </div>
            </li>
            <li class="expenses-list-item expenses-list-item-doub"><span class="color color-doub color-yellow"></span>
                <div  class="expenses-details">
                    <p class="text-caption expenses-list-label-doub">Dining Out</p>
                    <p class="expenses-summary">
                        <span class="text-heading-md">$133.00</span>
                        <span class="text-label">of $75.00</span>
                    </p>
                </div>
            </li>
            <li class="expenses-list-item"><span class="color color-doub color-navy"></span>
                <div  class="expenses-details">
                    <p class="text-caption expenses-list-label-doub">Personal Care</p>
                <p class="expenses-summary">
                    <span class="text-heading-md">$40.00</span>
                    <span class="text-label">of $100.00</span>
                </p>
                </div>
            </li>
        </ul>
    </div>


</section>