.budgets-section{
    max-width: 608px;
}


.budget-progress{
    border-radius: 4px;
        background: var(--color-beige-100);
        width: 100%;
        height: 32px;
        margin-bottom: 16px;
        position: relative;
}

.budget-progress-bar{
    border-radius: 4px;
        width: 162px;
        height: 24px;
        position: relative;
        left: 4px;
        top: 4px;
}

.budget-recent{
    border-radius: 12px;
        padding: 20px;
        background: var(--color-beige-100);
}

.budget-divider-color>*:not(:last-child){
    
border-bottom: 1px solid rgba(var(--color-grey-500-rgb), 0.15);
   
}

