
.expenses-chart-thumb{
padding: 20px 62px;
margin-bottom: 32px;
}



.expenses-item-budgets-sum {
    
    padding-bottom: 16px;    
    border-bottom: 1px solid var(--color-grey-100);
    
}



.expenses-item-budgets-sum:last-child{
    padding-bottom: 0;
        border-bottom: none;
}




.expenses-details{ 
    display: flex; 
     align-items: center; 
     justify-content: space-between; 
    width: 100%; 
 }

 .expenses-summary {
     display: flex;
     align-items: center;
     gap: 8px;
    }













