
.expenses-chart-thumb{
padding: 20px 62px;
margin-bottom: 32px;
}


.expenses-details{ 
    display: flex; 
     align-items: center; 
     justify-content: space-between; 
    width: 100%; 
 }

 .expenses-summary {
     display: flex;
     align-items: center;
     gap: 8px;
    }













