<section class="section expenses">
    <div class="section-title-link-wrap">
        <h2 class="section-title">Budgets</h2>
    <a class="section-nav-link" href="../pages/budgets.html">See details <svg class="section-nav-link-icon"><use href="../../public/icons.svg#icon-caret-right"></use></svg></a>
    </div>
    

    <div class="expenses-chart-list-wrap">
        <div class="expenses-chart">
            <div class="expenses-center">
                <p class="expenses-value">$338</p>
                <p class="expenses-limit">of $975 limit</p>
            </div>
        </div>
    
        <ul class="expenses-list">
            <li class="expenses-list-item"><span class="color color-green"></span>
                <div><p class="expenses-list-label">Entertainment</p>
                <p class="expenses-list-value">$50.00</p></div>
                
               </li>
            <li class="expenses-list-item"><span class="color color-blue"></span>
                <div>
                    <p class="expenses-list-label">Bills</p>
                    <p class="expenses-list-value">$750.00</p>
                </div>
                </li>
            <li class="expenses-list-item"><span class="color color-yellow"></span>
                <div><p class="expenses-list-label">Dining Out</p>
                <p class="expenses-list-value">$75.00</p></div>
               </li>
            <li class="expenses-list-item"><span class="color color-navy"></span>
                <div><p class="expenses-list-label">Personal Care</p>
                <p class="expenses-list-value">$100.00</p></div>
                </li>
        </ul>
    </div>

    
</section>