<section>
    <ul>
        <li class="section">
            <div class="budget-header">
                <span class="accent-circle color-green"></span>
                <h3>Savings</h3>
            </div>

            <div class="budget-progress-wrap"></div>
                <p>Total Saved</p>
            <p>$159.00</p>
               
                <div class="budget-progress">
                    <div class="budget-progress-bar color-green"></div>
                </div>
<p>7.95%</p>
<p>Target of $2,000</p>
<button>+ Add Money</button>
<button>Withdraw</button>
        </li>

        <li class="section">
            <div class="budget-header">
                <span class="accent-circle color-green"></span>
                <h3>Concert Ticket</h3>
            </div>
        
            <div class="budget-progress-wrap"></div>
            <p>Total Saved</p>
            <p>$110.00</p>
        
            <div class="budget-progress">
                <div class="budget-progress-bar color-green"></div>
            </div>
            <p>73.3%</p>
            <p>Target of $150</p>
            <button>+ Add Money</button>
            <button>Withdraw</button>
        </li>

        <li class="section">
            <div class="budget-header">
                <span class="accent-circle color-green"></span>
                <h3>Gift</h3>
            </div>
        
            <div class="budget-progress-wrap"></div>
            <p>Total Saved</p>
            <p>$40.00</p>
        
            <div class="budget-progress">
                <div class="budget-progress-bar color-green"></div>
            </div>
            <p>66.6%</p>
            <p>Target of $60</p>
            <button>+ Add Money</button>
            <button>Withdraw</button>
        </li>

        <li class="section">
            <div class="budget-header">
                <span class="accent-circle color-green"></span>
                <h3>New Laptop</h3>
            </div>
        
            <div class="budget-progress-wrap"></div>
            <p>Total Saved</p>
            <p>$10.00</p>
        
            <div class="budget-progress">
                <div class="budget-progress-bar color-green"></div>
            </div>
            <p>1.0%</p>
            <p>Target of $1,000</p>
            <button>+ Add Money</button>
            <button>Withdraw</button>
        </li>

        <li class="section">
            <div class="budget-header">
                <span class="accent-circle color-green"></span>
                <h3>Holiday</h3>
            </div>
        
            <div class="budget-progress-wrap"></div>
            <p>Total Saved</p>
            <p>$531.00</p>
        
            <div class="budget-progress">
                <div class="budget-progress-bar color-green"></div>
            </div>
            <p>36.8%</p>
            <p>Target of $1440</p>
            <button>+ Add Money</button>
            <button>Withdraw</button>
        </li>
    </ul>
</section>