<section class="section recurring-bills">
<div class="section-title-link-wrap recurring-bills-title">
    <h2 class="section-title">Recurring Bills</h2>
    <a class="section-nav-link" href="../pages/recurring.html">See details <svg class="section-nav-link-icon">
            <use href="../../public/icons.svg#icon-caret-right"></use>
        </svg></a>
</div>
<ul class="recurring-bills-list">
    <li class="recurring-bills-list-item"><p class="recurring-bills-name">Paid Bills</p>
    <p class="recurring-bills-amount">$190.00</p></li>
    <li class="recurring-bills-list-item"><p class="recurring-bills-name">Total Upcoming</p>
    <p class="recurring-bills-amount">$194.98</p></li>
    <li class="recurring-bills-list-item"><p class="recurring-bills-name">Due Soon</p>
    <p class="recurring-bills-amount">$59.98</p></li>
</ul>
</section>