<nav class="sidebar">
    <a href="/" class="logo">
        <img src="/public/logo-large.svg" alt="FinanceApp Logo">
    </a>
    <ul class="nav-links">
        <li><a href="/">
             <svg class="icon"><use xlink:href="#icon-nav-overview"></use></svg>
             Overview</a></li>
        <li><a href="../pages/transactions.html">Transactions</a></li>
        <li><a href="../pages/budgets.html">Budgets</a></li>
        <li><a href="../pages/pots.html">Pots</a></li>
        <li><a href="../pages/recurring.html">Recurring Bills</a></li>
    </ul>
</nav>