<div class="sidebar">
    <nav >
    <a href="/" class="logo">
        <img class="logo-icon" src="/public/logo-large.svg" alt="FinanceApp Logo">
    </a>
    <ul class="nav-links-list">
        <li class="nav-links-list-item">
            <a class="nav-link" href="/">
             <svg class="icon"><use href="../../public/icons.svg#icon-nav-overview"></use></svg>
             <span>Overview</span>
            </a></li>
        <li class="nav-links-list-item"><a class="nav-link" href="/transactions" data-link>
            <svg class="icon"><use href="../../public/icons.svg#icon-nav-transactions"></use></svg>
            <span>Transactions</span></a></li>
        <li class="nav-links-list-item"><a class="nav-link" href="/budgets" data-link>
            <svg class="icon"><use href="../../public/icons.svg#icon-nav-budgets"></use></svg>
            <span>Budgets</span></a></li>
        <li class="nav-links-list-item"><a class="nav-link" href="/pots" data-link>
            <svg class="icon"><use href="../../public/icons.svg#icon-nav-pots"></use></svg>
            <span>Pots</span></a></li>
        <li class="nav-links-list-item"><a class="nav-link" href="/recurring" data-link>
            <svg class="icon"><use href="../../public/icons.svg#icon-nav-recurring-bills"></use></svg>
            <span>Recurring Bills</span></a></li>
    </ul>
</nav>

<button class="min-menu-btn"><svg class="icon"><use href="../../public/icons.svg#icon-minimize-menu"></use></svg>
          Minimize Menu  </button>
</div>
