<section class="balance-summary">
    <ul class="balance-summary-list">
        <li class="balance-summary-list-item accent-bg"><p class="balance-summary-label accent-col">Current Balance</p>
        <p class="balance-summary-value accent-col">$4,836.00</p></li>
        <li class="balance-summary-list-item">
            <p class="balance-summary-label">Income</p>
            <p class="balance-summary-value">$3,814.25</p>
        </li>
        <li class="balance-summary-list-item">
            <p class="balance-summary-label">Expenses</p>
            <p class="balance-summary-value">$1,700.50</p>
        </li>
    </ul>
</section>