@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Public+Sans:wght@100..900&family=Work+Sans:wght@100..900&display=swap');

body{
    font-family: var(--font-family);
    line-height: 1.5;
        letter-spacing: 0;
    background: var(--color-beige-100);
    color: var(--color-grey-900);

}

.section{
    background: var(--color-white);
    border-radius: 12px;
padding: 32px;
}

.card{
border-radius: 12px;
    padding: 24px;
    background: var(--color-white);
}


.section-title-link-wrap{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;
}



.section-nav-link{
     display: flex;
    align-items: center;
    gap: 12px;
}

.section-nav-link-icon{
    display: block;
    height: 10px;
    width: 5px;
    fill: var(--color-grey-500);
}

.section-controls {

    margin-bottom: 24px;
}

.btn-add-new{
    border-radius: 8px;
        padding: 16px;
        background: var(--color-grey-900);
        color: var(--color-white);
        border: none;
}

.title-btn-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}

.btn{
    border-radius: 8px;
        padding: 16px;
        background: var(--color-beige-100);
        border: none;

}