.budgets-section{
    max-width: 608px;
}

.budgets-categories-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.budgets-categories-list-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accent-circle{
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
        /* background: var(--color-green); */
}

.budget-header{
    display: flex;
    align-items: center;
    gap: 16px;
}

.budget-limit{
        margin-bottom: 16px;
}

.budget-progress{
    border-radius: 4px;
        background: var(--color-beige-100);
        width: 100%;
        height: 32px;
        margin-bottom: 16px;
        position: relative;
}

.budget-progress-bar{
    border-radius: 4px;
        width: 162px;
        height: 24px;
        position: relative;
        left: 4px;
        top: 4px;
}


.budget-summary-list{
    display: flex;
    gap: 16px;
}

.budget-summary-item {
    display: flex;
    flex-grow: 1;
}

.accent-strip {
    display: inline-block;
    border-radius: 8px;
    width: 4px;
    height: 43px;
    margin-right: 16px;
}



.color-blue {
    background: var(--color-cyan);
}

.color-beige {
    background: var(--color-beige-100);
}

.color-navy {
    background: var(--color-navy);
}

.budget-summary-label{
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        color: var(--color-grey-500);
        margin-bottom: 4px;
}

.budget-summary-value{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-grey-900);
}

.budget-recent{
    border-radius: 12px;
        padding: 20px;
        background: var(--color-beige-100);
}

.budget-recent-header{
    display: flex;
    justify-content: space-between;
}

.recent-list-title{
    font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        color: var(--color-grey-900);
}

.budget-recent-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.budget-recent-list-item{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-grey-100);
    padding-bottom: 12px;
}

.budget-recent-list-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}