.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

.main-content {
    max-width: 375px;
    padding: 24px 16px;
}

.sidebar {
    grid-row: 2;
}

@media (min-width: 768px) {
.main-content {

    max-width: 768px;
        padding: 32px 40px; 
    }
}

@media (min-width: 1440px)  {
.layout {
        
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr;
    }

        .sidebar {
            grid-row: auto;
        }
.main-content {

    max-width: 1140px;
   
}
   
}


