.rec-bills-list-section{
    max-width: 699px;
}


.rec-bills-transactions-controls{
    display: flex;
        justify-content: space-between;
}


.rec-bills-transactions-table-head,
.rec-bills-transactions-row {
    grid-template-columns: 3.19fr 1.2fr 1fr;
    
}

.icon-status-payment{
    height: 13px;
    width: 13px;
}