.rec-bills-section{
    background-color: var(--color-grey-900);
    max-width: 337px;
}

.icon-rec-bills{
    fill: var(--color-white);
    width: 40px;
    height: 40px;
    margin-bottom: 32px;
}

.color-text{
    color: var(--color-white);
}

.rec-bills-content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}