.sidebar{
    border-radius: 0 16px 16px 0;
padding: 40px 0px 58px 32px;
    background: var(--color-grey-900);
    max-width: 300px;
}

.logo-icon{
    margin-bottom: 64px;;
}

.nav-links-list{
    margin-bottom: 528px;;
}

.nav-links-list-item{
padding-top: 16px;
padding-bottom: 16px;

}

.nav-link{
    color: var(--color-grey-300);
display: flex;
align-items: center;
justify-content: flex-start;
gap: 16px;

}


.icon{
    fill: var(--color-grey-300);
    height: 24px;
    width: 24px;
   
}

.min-menu-btn{
color: var(--color-grey-300);
padding-top: 16px;
padding-bottom: 16px;
background-color: transparent;
border: none;
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 16px;
}