/* @import "modern-normalize"; */
/* @import url('../node_modules/modern-normalize/modern-normalize.css'); */
@import "modern-normalize";

@import url('./reset.css');
@import url('./variables.css');
@import url('./base.css');
@import url('./typography.css');
@import url('./layout.css');
@import url('./components/search.css');
@import url('./components/filters.css');
@import url('./components/table.css');
@import url('./sidebar.css');
@import url('./overview-summary-section.css');
@import url('./overview-pots-section.css');
@import url('./overview-budgets-section.css');
@import url('./overview-transactions-section.css');
@import url('./overview-recurring-bills-section.css');
@import url('./transactions-full-section.css');
@import url('./budgets-summary-section.css');
@import url('./budgets-categories-overview-section.css');
@import url('./pots-detailed-section.css');
@import url('./recurring-bills-total-section.css');
@import url('./recurring-bills-summary-section.css');
@import url('./recurring-bills-list-section.css');
