.transactions{
    max-width: 608px;
}

.transaction-title{
    margin-bottom: 32px;
}

.transaction-item{
    display: flex;
    justify-content: space-between;
    
}

.transaction-item:not(:first-child) {
    padding-top: 20px;
}

.transaction-item:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-grey-100);
}

.transaction-img-name-wrapper{
    display: flex;
    align-items: center;
    gap: 16px;
}
.transaction-img{
    border-radius: 50%;

}

.transaction-name{
    font-family: var(--font-family);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        color: var(--color-grey-900);
}

.transaction-amount{
    font-family: var(--font-family);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        text-align: right;
        color: var(--color-grey-900);
        margin-bottom: 8px;
}
.transaction-amount.positive {
color: var(--color-green);
}
.transaction-date{
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        color: var(--color-grey-500);
        text-align: right;
}

