.text-display{
        font-size: 32px;
        font-weight: 700;
        line-height: 1.2;
        
}

.text-heading-lg {

        font-size: 20px;
        line-height: 1.2;
}

.text-heading-md {
        font-weight: 700;
        font-size: 16px;

}

.text-caption{
                font-size: 14px;
                color: var(--color-grey-500);
}

.text-value {

        font-weight: 700;
        font-size: 14px;
}

.text-label {
       
        font-size: 12px;
        color: var(--color-grey-500);
}

.text-label-bold {

        font-size: 12px;
        font-weight: 700;
}



