/* ========= TEXT COLORS ========= */

.text-white {
    color: var(--color-white);
}

.text-red {
    color: var(--color-red);
}

.text-green {
    color: var(--color-green);
}


/* ========= BACKGROUND COLORS ========= */

.bg-black{
    background: var(--color-grey-900);
}

/* ========= MARKER COLORS ========= */

.marker-green {
    --marker-color: var(--color-green);
}

.marker-blue {
    --marker-color: var(--color-cyan);
}

.marker-yellow {
    --marker-color: var(--color-yellow);
}

.marker-navy {
    --marker-color: var(--color-navy);
}

/* ========= FLEX ========= */

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

