/* ========= TEXT COLORS ========= */

.text-white {
    color: var(--color-white);
}

.text-red {
    color: var(--color-red);
}

.text-green {
    color: var(--color-green);
}


/* ========= BACKGROUND COLORS ========= */

.bg-black{
    background: var(--color-grey-900);
}

/* ========= MARKER COLORS ========= */

.marker-green {
    --marker-color: var(--color-green);
}

.marker-blue {
    --marker-color: var(--color-cyan);
}

.marker-yellow {
    --marker-color: var(--color-yellow);
}

.marker-navy {
    --marker-color: var(--color-navy);
}

 .marker-purple{
    --marker-color: var(--color-purple);
 }

 .marker-beige {
    --marker-color: var(--color-beige-100);
 }

/* ========= FLEX ========= */

/* Flex direction */
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

/* Justify */
.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}
.justify-start {
    justify-content: flex-start;
}

/* Align */
.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}



.flex-child-grow {
    flex-grow: 1;
}

/* Margin-bottom */

.mb-16 {
    margin-bottom: 16px;
}
.mb-20 {
    margin-bottom: 20px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-42 {
    margin-bottom: 42px;
}

.gap-4{
gap: 4px;
}

.gap-8 {
    gap: 8px;
}

.gap-12 {
    gap: 12px;
}

.gap-16 {
    gap: 16px;
}

.gap-20 {
    gap: 20px;
}

.gap-24{
    gap: 24px;
}

.w-100 {
    width: 100%;
}