:root {

    /* ========== COLORS =========== */
	--color-white: #ffffff;
	--color-beige-100: #f8f4f0;
	--color-grey-900: #201f24;
	--color-grey-500: #696868;
	--color-grey-500-rgb: 105, 104, 104;
	--color-grey-300: #b3b3b3;
	--color-green: #277c78;
	--color-grey-100: #f2f2f2;
	--color-yellow: #f2cdac;
	--color-cyan: #82c9d7;
	--color-navy: #626070;
	--color-beige-500: #98908b;
	--color-red: #c94736;
	--color-purple: #826cb0;
	--color-turquoise: #597c7c;
	--color-brown: #93674f;
	--color-magenta: #934f6f;
	--color-blue: #3f82b2;
	--color-navy-grey: #97a0ac;
	--color-army-green: #7f9161;
	--color-gold: #cab361;
	--color-orange: #be6c49;
	--color-pink: #af81ba;

    /* ==========FONTS============= */

  --font-family: "Public Sans", sans-serif;
  --second-family: "Barlow", sans-serif;
  --third-family: "Work Sans", sans-serif;

}